/* --------------- Variables & Fonts --------------- */
@font-face {
  font-family: nexa;
  src: url(../fonts/Nexa_Free_Light-webfont.ttf); }
@font-face {
  font-family: "nexa bold";
  src: url(../fonts/Nexa_Free_Bold-webfont.ttf);
  font-weight: bold; }
/* --------------- Container & General Styling --------------- */
html, body {
  font-family: "nexa"; }

.page-container {
  background-color: red;
  min-height: 100vh;
  padding: 0 !important; }

.sidebar {
  background-color: green;
  min-height: 100vh; }

.main-container {
  background-color: blue;
  min-height: 100vh; }

a {
  color: #ffffff !important; }

/* --------------- Navbar Styling --------------- */
nav {
  margin-bottom: 0 !important; }

.navbar-toggle {
  position: absolute;
  right: 0%;
  z-index: 10 !important; }

.navbar-header {
  position: relative !important;
  float: none; }

.navbar-header .navbar-brand, .navbar-header .navbar-brand-s {
  position: absolute !important;
  width: 50%;
  float: none;
  left: 25%;
  color: #ffffff;
  text-align: center;
  margin: 0 !important;
  font-family: "nexa bold"; }

.navbar-brand-s {
  position: absolute !important;
  width: 50%;
  float: none;
  left: 25%;
  top: 0;
  text-align: center;
  color: #ffffff !important;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin: 0 !important;
  font-family: "nexa bold"; }

.in {
  margin-top: 60px !important; }

.la-xs img {
  position: relative;
  max-height: 40px;
  max-width: 40px;
  display: inline-block;
  margin-top: -5px !important; }

.nav-btn {
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 5px; }
  .nav-btn .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white; }
  .nav-btn .icon-bar + .icon-bar {
    margin-top: 4px; }

.navbar-nav {
  float: right;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important; }
  .navbar-nav li {
    display: inline-block !important; }

/* ------------------------------- Single Item Page ---------------------------------------- */
.navbar {
  border-radius: 0 !important; }

.item-container {
  padding: 0 !important; }
  .item-container img {
    width: 100%;
    height: 50%; }
  .item-container h2 {
    text-align: center;
    color: #ffffff;
    font-family: "nexa bold"; }
  .item-container p {
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1em;
    color: #ffffff;
    font-family: "nexa"; }
  .item-container #price {
    margin: 0; }
  .item-container .btn-buy {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;
    border-radius: 0;
    text-align: center;
    margin-left: 46%;
    font-family: "nexa"; }

.info-container h2 {
  text-align: center;
  color: #ffffff;
  font-family: "nexa bold"; }
.info-container p {
  text-align: center;
  color: #222222;
  padding-top: 1em; }
.info-container .offer-card {
  width: 40%;
  height: auto;
  background-color: #33658a; }
  .info-container .offer-card img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
