/* --------------- Variables & Fonts --------------- */

@font-face {
  font-family: nexa;
  src: url(../fonts/Nexa_Free_Light-webfont.ttf);
}

@font-face {
  font-family: "nexa bold";
  src: url(../fonts/Nexa_Free_Bold-webfont.ttf);
  font-weight: bold;
}

$nb: "nexa bold";
$n: "nexa";
$darktext: #222222;
$lighttext: #ffffff;
$red: #e74c3c;
$orange: #f6ae2d;
$darkblue: #2F4858;
$lightblue: #33658a;
$lightestblue: #86bbd8;
$gutter: 1em;

/* --------------- Container & General Styling --------------- */

html, body {
  font-family: $n;
  height: 100%;
}

.page-container {
  min-height: 100vh;
  height: 100vh;
  padding: 0 !important;
  padding-top: 50px !important;
}

.sidebar {
  background-color: green;
  height: 100%;
}

.main-container {
  background-color: blue;
  height: 100%;
}

a {
  color: $lighttext !important;
}

/* --------------- Navbar Styling --------------- */

nav {
  margin-bottom: 0 !important;
}

.affix {
  z-index: 10;
  min-width: 100vw;
}

.navbar-toggle{
  position: absolute;
  right: 0%;
  z-index: 10 !important;
}

.navbar-header {
  position: relative !important;
  float: none;
}

.navbar-header .navbar-brand {
  position: absolute !important;
  width: 50%;
  float: none;
  left: 25%;
  color: $lighttext;
  text-align: center;
  margin: 0 !important;
  font-family: $nb;
}

.navbar-brand-s {
  position: absolute !important;
  width: 50%;
  float: none;
  left: 25%;
  top: 0;
  text-align: center;
  color: $lighttext !important;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin: 0 !important;
  font-family: $nb;
}

.in {
  margin-top: 60px !important;
}

.navbar-brand-s {
  @extend .navbar-brand;
}

.la-xs {
}

.la-xs img {
  position: relative;
  max-height: 40px;
  max-width: 40px;
  display: inline-block;
  margin-top: -5px !important;
}

.nav-btn {
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 5px;
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
  }
  .icon-bar+.icon-bar {
    margin-top: 4px;
  }
}

.navbar-nav {
  float: right;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  li {
    display: inline-block !important;
  }
}

.navbar {
  border-radius: 0 !important;
}


/* --------------- Index/Splash Styling --------------- */

.splash-container {
  padding-top: 0 !important;
  height: 100%;
}

.splash-top {
  min-height: 50%;
  height: 50%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: $darktext;
  background-image: url("../img/restaurant-food-01.jpg");
  background-size: cover;
  overflow: hidden;
  .splash-title-container {
    position: relative;
    left: 25%;
    height: 90%;
    width: 50%;
    margin-top: 2%;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.25);
    img {
      height: 90%;
      width: 100%;
      margin-top: 4%;
      overflow: hidden;
    }
    h1 {
      font-family: $nb;
      color: $lighttext;
      display: block;
      position: absolute;
      height: 10%;
      width: 80%;
      top: 35%;
      left: 10%;
      padding: 0 !important;
      margin: 0 !important;
      text-align: center;
      vertical-align: middle;
    }
    p {
      font-family: $n;
      font-size: 1em;
      color: $lighttext;
      display: block;
      position: absolute;
      height: 30%;
      width: 80%;
      top: 50%;
      left: 10%;
      padding: 0 !important;
      margin: 0 !important;
      text-align: center;
    }
  }
}

.splash-bot {
  min-height: 50%;
  height: 50%;
  padding: 0 !important;
  margin: 0 !important;
  ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    min-height: 100%;
    li {
      padding: 0 !important;
      margin: 0 !important;
      height: 100%;
      width: 25%;
      float: left;
      a {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
        height: 100%;
      }
      img {
        position: relative;
        top: 50%;
        height: 50%;
        width: 75%;
        margin-top: -35%;
        margin-left: 12.5%;
        overflow: hidden;
      }
    }
    li:nth-child(1) {
      background-color: $darkblue;
    }
    li:nth-child(2) {
      background-color: $lightblue;
    }
    li:nth-child(3) {
      background-color: $lightestblue;
    }
    li:nth-child(4) {
      background-color: $orange;
    }
  }
}

.splash-btn {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 0;
  z-index: 1;
  li {
    display: inline-block;
    margin-top: 15px;
    a {
      padding: 15px !important;
    }
  }
}


/* --------------- Menu Styling --------------- */

.menu-container {
  margin: 0 !important;
  .main-container {
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent;
  }
  .menu-card {
    float: left;
    height: 33.3%;
    width: 33.3%;
    padding: $gutter;
    .menu-card-wrapper {
      height: 100%;
      width: 100%;
      background-color: $lightestblue;
      .menu-img {
        background-image: url("../img/restaurant-food-01.jpg");
        background-size: cover;
        overflow: hidden;
        width: 100%;
        height: 60%;
      }
      .menu-card-info {
        height: 40%;
        width: 100%;
        padding: $gutter;
        .menu-card-text {
          display: inline-block;
          max-width: 75%;
          width: 60%;
          height: 100%;
          padding-top: 0.5em;
          h4 {
            padding: 0 !important;
            margin: 0 !important;
            color: $lighttext;
          }
        }
        .menu-card-btn {
          display: inline-block;
          width: 30%;
          height: 100%;
          button {
            margin-left: 1em;
            margin-top: -1.5em;
            background-color: $red;
            border-color: $red;
            color: $lighttext;
          }
        }
      }
    }
  }
  .menu-sidebar {
    background-color: $darkblue;
    text-align: center;
    h2{
      text-align: center;
      color: $lighttext;
      font-family: $nb;
    }
    p {
      text-align: center;
      color: $lighttext;
      padding-top: $gutter;
    }
    .card-container {
      margin-top: 4.5em;
      h2 {
        margin: 0 !important;
        padding-bottom: 0.5em;
      }
    }
    .offer-card {
      width: 9em;
      height: 9em;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: $lightblue;
      img {
        width: 100%;
        height: 60%;
      }
      .offer-desc {
        text-align: right;
        margin-top: 2px;
        display: inline-block;
        p {
          display: inline-block;
          color: $lighttext;
        }
      }
      button {
        display: inline-block;
        color: $lighttext;
        background-color: $red ;
        border-color: $red;
        border-radius: 0;
        text-align: center;
        font-family: $n;
        margin-left: 30px;
      }
    }
  }
}


/* --------------- Single Item Page Styling --------------- */


.item-container {
  padding: 0 !important;
  background-color: transparent;
  img {
    width: 100%;
    height: 50%;
  }

  h2 {
    text-align: center;
    color: $darktext;
    font-family: $nb;
  }

  p {
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: $gutter;
    color: $darktext;
    font-family: $n;
  }

  #price {
    margin:0;
  }

  #btn-centering {
    width: 50%;
    margin-left: 25%;
    text-align: center;

    .btn-buy {
      color: $lighttext;
      background-color: $red ;
      border-color: $red;
      border-radius: 0;
      text-align: center;
      font-family: $n;

    }

  }

}

.info-container {

  text-align: center;
  background-color: $darkblue;


  h2{
    text-align: center;
    color: $lighttext;
    font-family: $nb;
  }

  p {
    text-align: center;
    color: $lighttext;
    padding-top: $gutter;
  }


  .card-container {
    margin-top: 4.5em;

    h2 {
      margin: 0 !important;
      padding-bottom: 0.5em;
    }
  }

  .offer-card {

    width: 9em;
    height: 9em;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;


    background-color: $lightblue;

    img {
      width: 100%;
      height: 60%;
    }

    .offer-desc {

      text-align: right;
      margin-top: 2px;
      display: inline-block;

      p {
        display: inline-block;
        color: $lighttext;
      }

    }

    button {
      display: inline-block;
      color: $lighttext;
      background-color: $red ;
      border-color: $red;
      border-radius: 0;
      text-align: center;
      font-family: $n;
      margin-left: 30px;
    }

  }
}

/* ------------------------------- Cart styling ------------------------ */

.cart-sidebar {

  text-align: center;



  h2{
    text-align: center;
    color: $lighttext;
    font-family: $nb;
  }

  p {
    text-align: center;
    color: $lighttext;
    padding-top: $gutter;
  }


  .card-container {
    margin-top: 4.5em;

    h2 {
      margin: 0 !important;
      padding-bottom: 0.5em;
    }
  }

  .offer-card {

    width: 16em;
    height: 8em;
    margin-right: 10px;
    margin-bottom: 10px;


    background-color: $lightblue;

    img {
      width: 100%;
      height: 60%;
    }

    .offer-desc {

      text-align: right;
      margin-top: 2px;
      display: inline-block;

      p {
        display: inline-block;
        color: $lighttext;
      }

    }

    button {
      display: inline-block;
      color: $lighttext;
      background-color: $red ;
      border-color: $red;
      border-radius: 0;
      text-align: center;
      font-family: $n;
      margin-top: 10px;
    }

  }
}






























