/* --------------- Variables & Fonts --------------- */

@font-face {
  font-family: nexa;
  src: url(../fonts/Nexa_Free_Light-webfont.ttf);
}

@font-face {
  font-family: "nexa bold";
  src: url(../fonts/Nexa_Free_Bold-webfont.ttf);
  font-weight: bold;
}

$nb: "nexa bold";
$n: "nexa";
$darktext: #222222;
$lighttext: #ffffff;
$red: #e74c3c;
$orange: #f6ae2d;
$darkblue: #2F4858;
$lightblue: #33658a;
$lightestblue: #86bbd8;
$gutter: 1em;

/* --------------- Container & General Styling --------------- */

html, body {
  font-family: $n;
  height: 100%;
}

.page-container {
  background-color: red;
  min-height: 100vh;
  height: 100vh;
  padding: 0 !important;
  padding-top: 50px !important;
}

.sidebar {
  background-color: green;
  height: 100%;
}

.main-container {
  background-color: blue;
  height: 100%;
}

a {
  color: $lighttext !important;
}

/* --------------- Navbar Styling --------------- */

nav {
  margin-bottom: 0 !important;
}

.affix {
  z-index: 10;
  min-width: 100vw;
}

.navbar-toggle{
  position: absolute;
  right: 0%;
  z-index: 10 !important;
}

.navbar-header {
  position: relative !important;
  float: none;
}

.navbar-header .navbar-brand {
  position: absolute !important;
  width: 50%;
  float: none;
  left: 25%;
  color: $lighttext;
  text-align: center;
  margin: 0 !important;
  font-family: $nb;
}

.navbar-brand-s {
  position: absolute !important;
  width: 50%;
  float: none;
  left: 25%;
  top: 0;
  text-align: center;
  color: $lighttext !important;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin: 0 !important;
  font-family: $nb;
}

.in {
  margin-top: 60px !important;
}

.navbar-brand-s {
  @extend .navbar-brand;
}

.la-xs {
}

.la-xs img {
  position: relative;
  max-height: 40px;
  max-width: 40px;
  display: inline-block;
  margin-top: -5px !important;
}

.nav-btn {
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 5px;
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
  }
  .icon-bar+.icon-bar {
    margin-top: 4px;
  }
}

.navbar-nav {
  float: right;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  li {
    display: inline-block !important;
  }
}

.navbar {
  border-radius: 0 !important;
}


/* --------------- Index/Splash Styling --------------- */

.splash-top {
  min-height: 50%;
  background-color: blue;
}

.splash-bot {
  min-height: 50%;
  background-color: green;
}

.splash-btn {
  list-style: none;
  display: inline;
  float: right;
  li {
    background-color: red;
  }
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
  }
  .icon-bar+.icon-bar {
    margin-top: 4px;
  }
}


/* --------------- Single Item Page Styling --------------- */


.item-container {
  padding: 0 !important;

  img {
    width: 100%;
    height: 50%;
  }

  h2 {
    text-align: center;
    color: $lighttext;
    font-family: $nb;
  }

  p {
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: $gutter;
    color: $lighttext;
    font-family: $n;
  }

  #price {
    margin:0;
  }

  #btn-centering {
    width: 50%;
    margin-left: 25%;
    text-align: center;

    .btn-buy {
      color: $lighttext;
      background-color: $red ;
      border-color: $red;
      border-radius: 0;
      text-align: center;
      font-family: $n;

    }

  }

}

.info-container {

  text-align: center;



  h2{
    text-align: center;
    color: $lighttext;
    font-family: $nb;
  }

  p {
    text-align: center;
    color: $darktext;
    padding-top: $gutter;
  }


  .card-container {
    margin-top: 4.5em;

    h2 {
      margin: 0 !important;
      padding-bottom: 0.5em;
    }
  }

  .offer-card {

    width: 9em;
    height: 9em;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;


    background-color: $lightblue;

    img {
      width: 100%;
      height: 60%;
    }

    #offer-desc {
    }

    button {
      display: inline-block;
    }

    .left-card {
      float: left;
    }

    .right-card {
      float: right;
    }





  }
}
